footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: top 1px solid rgb(202, 18, 18);
    padding: 10px 0px;
    text-align: center;
    background-color: rgb(24, 226, 226);
}