header {
    display: flex;
    border-bottom: 1px solid rgb(65, 65, 65);
    text-align: center;
    position: sticky;
    top: 0px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .titulo {
            font-size: 30px;
            display: flex;
            padding-left: 10px;
        }
    }


    .navbar {
        display: flex;
        text-align: center;
        padding: 15px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        flex: 1;
        text-align: right;

        .menu-link {
            text-decoration: none;
            text-transform: uppercase;
            padding: 20px 12px;
            color: blue;
            font-weight: bold;
            color: #58d1f0;
            transition: color 0.3s;
        }

        .menu-link:hover {
            color: #000000;
        }
    }

}